h1{
    color: #FF7462;
    font-family: 'Barrio';
    font-size: 45px;
}

h2{
    color: white;
    font-family: 'Barrio';
    font-size: 27px;
}

h3{
    color:#FF7462;
    font-size: 30px;
    font-family: 'Roboto-light';
    align-self: baseline;
    margin: 0px;
}

h4{
    color:white;
    font-size:22px;
    font-family: 'Times New Roman', Times, serif;
}

button{
    border: none;
}
/*
Color:

bleu ciel : rgb(34,235,255)
bleu clair : rgb(74,105,138)
bleu foncé : rgba(54, 78, 104,1);
bleu foncé + : #25364A

orange clair : #FF7462
orange foncé : rgb(163,70,73)


/* FONTS */

@font-face {
    font-family: 'Barrio';
    src: url(./Fonts/Barrio-Regular.ttf);
}

@font-face {
    font-family: 'Roboto';
    src: url(./Fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-light';
    src: url(./Fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: 'Roboto-bold';
    src: url(./Fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: 'Anton';
    src: url(./Fonts/Anton-Regular.ttf);
}

@font-face {
    font-family: 'webdings';
    src: url(./Fonts/webdings.ttf);
}



/* GENERAL IDENTIFIERS */

html{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

body{
    margin:0%;
    max-width: 1300px;
    
    background-color: rgba(54, 78, 104,1);
    border: 1px solid red;

}

a{
    text-decoration: none;
}



/* HEADER */


header{
    display: flex;
    height: 170px;
    background-color: rgba(54, 78, 104,1);
    width: 100%;
    font-family: 'Barrio';
}


    /* Nav Site */

#nav_site{
    font-size: 25px;

    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
}

ul{
    display: flex;
    list-style-type: none;
    color: rgb(34,235,255);
}

li{
    margin:15px;
}

li a{
    color: rgb(34,235,255);
    
}

#menu{
    background-color: rgba(54, 78, 104,1);
    border: none;
    color:rgb(34,235,255);
    font-size:25px;
    font-family: 'Barrio';
}

li:hover{
    color:rgb(163,70,73);
}

li a:hover{
    color:rgb(163,70,73);  
}

#menu:hover{
    color:rgb(163,70,73); 
}


    /* Header Figure */

figure{
    margin:0% 5%;
}

#header_figure img{
    height:100%;
    box-shadow: 0px 0px 20px rgb(51,162,182);
}


    /* Nav Functions */

#nav_functions{
    display: flex;
    flex-direction: column;
    height: 100%;

    justify-content: space-around;
    
}

#nav_functions div{
    margin:0%;
    align-self: center;
    justify-content: center;
    
}
    
        /* Functions Button */

#functions{
    width:100%;
    display: flex;
    padding-top: 8%;
}

.functions_button{
    background-color:rgba(54, 78, 104,1);
    border: none;
    margin: 0% 5%;
}

.connect img{
    height:80px;
}

.search img{
    height:40px;
    margin-bottom: 10px;
}

        /* Social Button */

#social{
    display: flex;
    margin: 1% 5%;

}

.socialIcon{
    height: 50px;
    width:50px;
    margin: 5%;
    padding: 0%;
    background-color:rgba(54, 78, 104,1);
    border: none;
}

.socialIcon img{
    height: 40px;
    width: 40px;
}




/* INTRO */

#intro{
    display: flex;
    height:600px;
}

.intro_figure{
    margin: 0%;
    width:35%;
}


#img_back{
    position: relative;
    z-index: 1;
    height:650px;
    bottom:70px;   
}



#jazzman{
    width:65%;
    height : 570px;

}

#img_jazz{
    height: 100%;
    width: 100%;
}

#lecteur_radio{
    position:absolute;
    top:600px;
    right:15.5%;
    height:150px;
    width: 50%;

}


/* ACTU */

#actu{
    width:100%;
}

    /* Actu Banner */

#actu_banner{
    display: flex;
}

#actu_logo{
    margin-left:30px;
    width:500px;

}


#actu_banner h1{
    position: relative;
    right:50px;
    white-space: nowrap;
}

#actu_banner h2{
   position: relative;
   top:30px;
   right:25px;
     
}

    /* Actu Content */

.content{
    display: flex;
    margin:30px 0px;
    width:100%;
    padding:0px 25px;
    height: 500px;
}

.article{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:30%;
    background-color: rgb(74,105,138);
    padding: 20px 0px 0px 70px;
}

#article_author{
    color: grey;
    font-family: 'Roboto';
    font-size:19px;
    align-self: baseline;
}

.border{
    width: 100px;
    border-bottom: 5px solid rgba(54, 78, 104,1);
}

#article_text{
    color: white;
    font-size:22px;
    font-family: 'Roboto';
    align-self: baseline;
}

.btn_read_more{
    font-size:20px;
    font-family: 'Roboto-bold';
    padding:13px 20px;
    color: rgba(54, 78, 104,1);
    border-radius: 0px;
}

#s_poitier{
    object-fit: contain;
    margin-left:0px;
    margin-right: 20px;
}

#s_poitier img{
    width:500px;
    object-fit: cover;
    height:100%;
    
}

#subscribe{
    display: flex;
    flex-direction: column;
    width:20%;
    justify-content: flex-end;
}

#sub_img_back{
    position: relative;
    height:490px;
    width:285px;
}

#btn_subscribe{
    width:285px;
    min-height: 85px;
    font-family: 'Roboto-bold';
    color: rgba(54, 78, 104,1);
    border-radius: 0%;
    font-size:20px;
}


    /* Actu Read More */

.read_more{
    padding: 15px;
}

.read_more h1{
    margin:0px 0px 10px 0px;
}

.read_more_box{
    display: flex;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    
    justify-content: space-between;
}

.read_more_card{
    background-color: #25364A;
    width:410px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
}

.read_more_card h3{
    font-size: 25px;
    align-self: center;
    color: rgb(163,70,73);
}

.read_more_card h4{
    margin-bottom: 10px;
}
.card_box{
    height:200px;
    display: flex;
    align-items: center;
}

.card_box img{
    height: 180px;
    width:180px;
    object-fit: fill;
    margin-right:35px;
}

.btn_read_more .card{
    margin-bottom: 80px;
}

.last{
    margin-right: 0px;
}

.article_counter{
    color:white;
    font-size: 23px;
    font-family: 'Roboto-bold';
}

.read_more p{
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
}

.article_counter span{
    color:#FF7462;
}


/* NEW ALBUMS SECTION */

    
    /* New albums header */

#new_album_header{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}

.previous{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.previous p{
    font-family: 'Barrio';
    color: #FF7462;
    font-size: 22px;
}

.filter_logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter_logo p{
    color: white;
    font-family: 'Anton';
    margin: 0px 10px;
}

.filter_logo img{
    height: 20px;
}


    /* New Albums Content */ 


.scroller{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 290px;
    margin:0px;
    background-color: rgb(74,105,138);
    scrollbar-width: medium;
    scrollbar-color:  rgb(163,70,73);
}

.scroller img{
    height:170px;
    width:170px;
    margin:25px 45px;
}


/* TUTO SECTION */

    /* Tuto Header */

#tuto_header_img{
    margin:30px 25px;
    border: none;
} 

#tuto_header_bar{
    display: flex;
    justify-content: space-around;
}

.filter_logo{
    font-family: 'Roboto-light';
    font-size: 30px;
}

#bar_input{
    width:230px;
    display: flex;
    flex-direction: row;
}

#search_bar{
    height: 50px;
    margin:0px;
    padding: 0px;
    border: none;
    background-color: #D1E7FF;
}

#search_bar::placeholder{
    color: #25364A;
    
}


#bar_input img{
    height: 50px;
    background-image: white;
    border: none;
}

    /* Tuto Content */

#tuto_content{
    width:85%;
    margin:50px 7.5%;
    display: flex;
    flex-direction: column;
}

#tuto_content img{
    width:100%;
}

#tuto_content .article_counter{
    align-self: flex-end;
}

    /* Tuto Read More */

.tuto h1{
    font-size: 25px;
}

.tuto .read_more_card{
    padding: 10px;
    width:390px;
}

.tuto h4{
    font-size: 20px;
    font-family: 'Roboto-light';
    margin: 0px 0px 20px 0px;
}

.tuto h3{
    font-size: 20px;
    align-self: baseline;
    padding: 0px;
}

.tuto h3 span{
    color: #FF7462;
}

.tuto .card_box{
    justify-content: baseline;
    width: 100%;
}

.tuto .card_box img{
    height: 100%;
    margin-right: 15px;
}
.tuto_card_box_text p{
    color: white;
    font-size: 25px;
    font-family: 'Roboto-light';
}


/* REMEMBER SECTION */

#remember_header{
    display: flex;
    padding-left: 25px;
}

#remember_header p{
    font-family: 'Roboto-bold';
    font-size: 24px;
    color: rgb(34,235,255);
}

#remember_header p a{
    color: white;
    text-decoration: underline;
}

    /* Remember Content */

#remember_content{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    margin: 30px 20px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.mag_box{
    width:14.5%;
    max-height: 310px; 
}

.mag_box img{
    width: 100%;
    height: 270px;
    margin: 0px;
    position: relative;
    top:4px;
}

.mag_box button{
    width: 100%;
    height: 40px;
    margin: 0px;
    font-size: 20px;
}

.dispo button{
    background-color: #FF7462;
    color: white;
}

.épuisé button{
    background-color: rgb(34,235,255);
    color: black;
}

#remember_section .article_counter{
    display: flex;
    justify-content:flex-end;
}


/* ZOOM SECTION */

#zoom_section{
    padding:20px;
}

#zoom_header{
    display: flex;
}


    /* Zoom Content */

#zoom_content{
    display: flex;
    width: 100%;
    height:500px;
    justify-content: space-between;
}

#zoom_box_1{
    background-image:url("./Images/Links/saxo.jpg");
    width: 49%;
    background-size:cover;
    border-top:10px solid #FF7462; 
}

#zoom_box_2{
    width: 49%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.zoom_box{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    width: 48%;
    height:46%;
    background-size: cover;
    border-top:10px solid #FF7462;  
    
}

.mini_un{
    background-image: url("./Images/Links/steve-vai-jem-jr-wh-artist-600-3-84771.jpg");
}

.mini_deux{
    background-image: url("./Images/Links/guitare.png");
}

.mini_trois{
    background-image: url("./Images/Logos/3x/Piano@3x.png");
}

.mini_quatre{
    background-image: url("./Images/Links/guitare\ stratos\ clapton.jpg");
}

#zoom_section .article_counter{
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
}

.down{
    margin-top: 20px;
}

/* FOOTER */

#footer_main{
    height:400px;
    background-color: #25364A;
}

#footer_logo p{
    color:rgb(34,235,255)
}

#darkBlue{
    color: rgba(54, 78, 104,1);
}

#white{
    color:white;
}

#townlogo{
    
}